@import "./mixins"
@import "./header"
@import "https://fonts.googleapis.com/icon?family=Material+Icons"

body
  margin 0
  background rgba(33,32,37,1)
  font-family 'Helvetica Neue', Helvetica, Arial

.app
  padding 140px 50px 50px
