.header
  position fixed
  z-index 1000
  top 0
  left 0
  right 0
  padding 50px
  display flex
  align-items center
  gradient rgba(33,32,37,0.95) 50%, rgba(33,32,37,0) 100%
  color #999

  a
    color #999
    text-decoration none
    text-transform uppercase

  .logo
    padding-right 100px

  nav
    flex-grow 1

  .navigation
    display flex
    align-items center
    font-weight bold

  .nav-item
    padding 0 60px
    line-height 40px

  .nav-item-separator
    width 2px
    height 12px
    background #999

  .avatar
    width 36px
    height 36px
    margin-left 60px
    border-radius 50%
