.header
  position fixed
  z-index 1000
  top 0
  left 0
  right 0
  padding 20px
  display flex
  align-items center
  justify-content space-between
  gradient rgba(33,32,37,0.95) 50%, rgba(33,32,37,0) 100%
  color #999
  +forBreakpoint(tablet)
    padding 50px

  a
    color #999
    text-decoration none
    text-transform uppercase

  nav.main
    flex-grow 1
    display none
    +forBreakpoint(desktop)
      display flex

  .logo
    width 111px
    height 30px
    +forBreakpoint(tablet)
      width 148px
      height 40px
    +forBreakpoint(desktop)
      padding-right 100px

  .navigation
    display flex
    align-items center
    font-weight bold

  .nav-item
    padding 0 60px
    line-height 40px

  .nav-item-separator
    width 2px
    height 12px
    background #999

  .avatar
    width 36px
    height 36px
    margin-left 20px
    border-radius 50%
    +forBreakpoint(desktop)
      margin-left 60px
