gradient()
  background -moz-linear-gradient(top, arguments)
  background -webkit-linear-gradient(top, arguments)
  background linear-gradient(to bottom, arguments)

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

transform()
  -webkit-transform arguments
  -moz-transform arguments
  -ms-transform arguments
  transform arguments
