.movies
  &-title
    font-family: Kanit, 'Helvetica Neue', Helvetica, sans-serif;
    gradient-text('Popular', rgba(33,32,37,1), linear-gradient(to bottom, #ff4227, #ea424c))
    text-transform: uppercase;
    overflow: hidden;
    margin: 0;
    font-size: 58px;
    line-height: 42px;
    +forBreakpoint(tablet)
      font-size: 84px;
      line-height: 58px;
    &-wrapper
      overflow: hidden;
      display: block;
    &-appear
      transform translate3d(0,100%,0)
      transform-origin bottom
      &.movies-title-appear-active
        transform translate3d(0,0,0)
        transition all 800ms ease-in-out
  &-grid
    display flex
    flex-wrap wrap
    align-content flex-start
